* {
    font-family: calibri;
}

.dark-grey {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;   
}

.hero-text {
    font-size: 18px;
    
}

.hero-text, .image-placeholder {
    color: #E5E7EB;
}

h1, h3, .call-to-action-text, .hero-logo, button {
    color: #F9FAF8; 
}

h2, .quote-text {
    color: #1F2937;
}

.hero-logo {
    font-size: 24px;
    font-weight: bold;
}
.image-placeholder {
    background-color: grey;
}

.light-blue{
    background-color: #3882F6;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
}

button {
    border-radius: 5px;
    background-color: #3882F6;
    border-style: solid;
}

.btn-dark {
    border-color: #1F2937;
}

.btn-white {
    border-color: #F9FAF8;
}

.card {
    border-color: #3882F6;
    border-radius: 5px;
    border-style: solid;
}

.quote-background {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}